h1 {
	text-align:center;
	color: #1a75ff;
	font-size: 60px;
	text-shadow: 5px 5px 5px #ffff00;
	font-family:Bangers;
	margin-top: 150px;
}
p {
	text-align:justify;
	margin: 50px;
	border: 5px solid   #b3e6ff;
	border-radius:5px;
	background-color:  #b3e6ff;
	font-size: 20px;
	padding: 10px 10px;
}
